<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/contact">contact</a></li>
    <li><a href="/about">about</a></li>
    <li><a href="/json">json</a></li>
    <li><a href="/product/sepatu?id=10">product id 10</a></li>
    <li><a href="/kemeja/toki?id=138">Kemeja id 138</a></li>
</ul>